yo kam garne propertycontroller ho<?php

namespace App\Http\Controllers;

use Illuminate\Http\Request;
use App\Property;
use App\Homestay;
use App\Rental;
use App\Image;
use Auth;

class PropertyController extends Controller
{
    
    public function __construct()
    {
        $this->middleware('auth' , ['except' => ['index','show']]);
    }
    public function index()
    {
       
        // $property = Property::find(1);

        // $buyable = $property->buyable;

        // dd("$buyable");

        $property = Property::where('user_id', auth()->id())->get();
        return view('property.index',compact('property'));

    }


    public function create()
    {
        return view('property.create');
    }


    public function store(Request $request)
    {
       request()->validate([
    
            'district' => 'required',
            'city' => 'required',
            'ward_no' => 'required | min:1',
            'street' => 'required',
            'price' => 'required ',
            'property_type' =>'required',
            ]);


        $property = new Property();

        $property->user_id = Auth::user()->id;
        $property->district = request('district');
        $property->city = request('city');
        $property->ward_no = request('ward_no');
        $property->street= request('street');
        $property->price = request('price');
        $property->description = request('description');
        $property->buyable_type = request('property_type');



        if($property->buyable_type == 'Rental')
            {
            $rental = new Rental();
            $rental->type = request('property_type');
            $rental->category = request('category');
            $rental->bhk = request('bhk');
            $rental->num_rooms = request('num_rooms');
            $rental->parking = request('parking');
            
            $rental->save();
            $property->buyable_id = $rental->id;
            
            }else{

            $homestay = new Homestay();
            $homestay->type = request('property_type');
            $homestay->service = request('service');
            
            $homestay->save();
            $property->buyable_id = $homestay->id;
            }


            if($request->hasfile('legal_docs'))
                {
                    $file1 = $request->file('legal_docs');
                    $extension1 = $file1->getClientOriginalExtension();
                    $filename1 = rand() . '.' . $extension1;
                    $file1->move('uploads/properties/legal',$filename1);
                    $property->legal_docs = $filename1; 
                }

             $property->save();


                    $array = $request->file('property_images');
                    for($i=0; $i< count($array); $i++)
                    {
                    $extension = $array[$i]->getClientOriginalExtension();
                    $filename = rand() . '.' . $extension;
                    $array[$i]->move('uploads/properties/images',$filename);
                    $images = new Image();
                    $images->image = $filename;
                    $property->image()->save($images);
                        }
        
        
     


        session()->flash('message','property upload requested successfully');
        
        return redirect('/property');
 }

   

    public function show($id)
    {
       
        $property = Property::findOrFail($id);
        $image = Image::where('property_id', $id)->get();

        $buyable = $property->buyable;
        
        return view('property.viewproperty',compact('property','buyable','image'));


    }

   

    public function edit($id)
    {
       
    }

 

    public function update(Request $request, $id)
    {
        
        }

   

    public function destroy($id)
    {
        
    }
}



-------------------------------create.blade.php-----------------------------------


@section('content')
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header">{{ __('Add property') }}</div>
                    <div class="card-body">
                        <form method="POST" action="{{ route('property.store') }}">
                        @csrf

{{-- ..........................address...................... --}}
{{--........province..... --}}
                        <div class="form-group row">
                            <label for="province_no" class="col-md-4 col-form-label text-md-right">{{ __('Province') }}</label>

                            <div class="col-md-6">
                                <input id="province_no" type="number" class="form-control{{ $errors->has('province_no') ? ' is-invalid' : '' }}" name="province_no" value="{{ old('province_no') }}" required autofocus>

                                @if ($errors->has('province_no'))
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ $errors->first('province_no') }}</strong>
                                    </span>
                                @endif
                            </div>
                        </div>

{{--........district..... --}}
                        <div class="form-group row">
                            <label for="district" class="col-md-4 col-form-label text-md-right">{{ __('District') }}</label>

                            <div class="col-md-6">
                                <input id="district" type="text" class="form-control{{ $errors->has('district') ? ' is-invalid' : '' }}" name="district" value="{{ old('district') }}" required autofocus>

                                @if ($errors->has('district'))
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ $errors->first('district') }}</strong>
                                    </span>
                                @endif
                            </div>
                        </div>

{{--........city..... --}}
                        <div class="form-group row">
                            <label for="city" class="col-md-4 col-form-label text-md-right">{{ __('City') }}</label>

                            <div class="col-md-6">
                                <input id="city" type="type" class="form-control{{ $errors->has('city') ? ' is-invalid' : '' }}" name="city" value="{{ old('city') }}" required autofocus>

                                @if ($errors->has('city'))
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ $errors->first('city') }}</strong>
                                    </span>
                                @endif
                            </div>
                        </div>

{{--........city..... --}}
                        <div class="form-group row">
                            <label for="ward_no" class="col-md-4 col-form-label text-md-right">{{ __('ward') }}</label>

                            <div class="col-md-6">
                                <input id="ward_no" type="number" class="form-control{{ $errors->has('ward_no') ? ' is-invalid' : '' }}" name="ward_no" value="{{ old('ward_no') }}" required autofocus>

                                @if ($errors->has('ward_no'))
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ $errors->first('ward_no') }}</strong>
                                    </span>
                                @endif
                            </div>
                        </div>

{{--........street..... --}}
                        <div class="form-group row">
                            <label for="street_address" class="col-md-4 col-form-label text-md-right">{{ __('Street') }}</label>

                            <div class="col-md-6">
                                <input id="street_address" type="text" class="form-control{{ $errors->has('street_address') ? ' is-invalid' : '' }}" name="street_address" value="{{ old('street_address') }}" required autofocus>

                                @if ($errors->has('street_address'))
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ $errors->first('street_address') }}</strong>
                                    </span>
                                @endif
                            </div>
                        </div>

{{-- ..............................PRICE.......................... --}}
                       
                        <div class="form-group row">
                            <label for="price" class="col-md-4 col-form-label text-md-right">{{ __('Price') }}</label>

                            <div class="col-md-6">
                                <input id="price" type="number" class="form-control{{ $errors->has('price') ? ' is-invalid' : '' }}" name="price" value="{{ old('price') }}" required autofocus>

                                @if ($errors->has('price'))
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ $errors->first('price') }}</strong>
                                    </span>
                                @endif
                            </div>
                        </div>

{{-- ...........................Description....................... --}}

                        <div class="form-group row">
                            <label for="descriptions" class="col-md-4 col-form-label text-md-right">{{ __('Descritions') }}</label>

                            <div class="col-md-6">
                               <textarea name="descriptions"class="form-control{{ $errors->has('descriptions') ? ' is-invalid' : '' }}" value="{{ old('descriptions') }}" required></textarea>

 
                                @if ($errors->has('descriptions'))
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ $errors->first('descriptions') }}</strong>
                                    </span>
                                @endif
                            </div>
                        </div>

{{-- ..............................type.......................... --}}

            <div class="form-group row">
                            <label for="property_type" class="col-md-4 col-form-label text-md-right">Please select</label>

                            <div class="col-md-6">
                                <select name = "property_type" required>   
                                <option value = "Rental">Rental</option>       
                                 <option value = "Homestay">Homestay</option> 
                              </select> 

                            </div>
                        </div>

{{-- ..............................image.......................... --}}
{{-- 
                <div class="form-group row">
                            <label for="address" class="col-md-4 col-form-label text-md-right">Please select images</label>
                    <input name="image[]" type="file" /><br />
                  
            </div>
 --}}


  {{--               
<div class="form-group row" class="col-md-4">
      <textarea name="future_enhancements=" value="">
        -> Location
      </textarea></div>

 --}}








{{-- ........................................................... --}}

                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    {{ __('Request') }}
                                </button>
                            </div>
                        </div>

            


            </div>

</div></div></div></div>

@endsection
---------------------------------------------------------------
----------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------------------------
----------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------------------------
----------------------------------------------------
-------------------------------------------------------------------------
----------------------------edit.blade.php----------------------------



@extends('layouts.app')
@section('content')
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header">{{ __('Edit property') }}</div>
                    <div class="card-body">
                        <form method="POST" action="/property/{{$property->id}}">
                            {{ method_field('PATCH')}}
                        @csrf

{{-- ..........................address...................... --}}
                        <div class="form-group row">
                            <label for="address" class="col-md-4 col-form-label text-md-right">{{ __('Address') }}</label>

                            <div class="col-md-6">
                                <input id="address" type="text" class="form-control{{ $errors->has('address') ? ' is-invalid' : '' }}" name="address" value="{{$property->address}}" required autofocus>

                                @if ($errors->has('address'))
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ $errors->first('address') }}</strong>
                                    </span>
                                @endif
                            </div>
                        </div>

{{-- ..............................PRICE.......................... --}}
                       
                        <div class="form-group row">
                            <label for="price" class="col-md-4 col-form-label text-md-right">{{ __('Price') }}</label>

                            <div class="col-md-6">
                                <input id="price" type="number" class="form-control{{ $errors->has('price') ? ' is-invalid' : '' }}" name="price" value="{{$property->price}}" required autofocus>

                                @if ($errors->has('price'))
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ $errors->first('price') }}</strong>
                                    </span>
                                @endif
                            </div>
                        </div>

{{-- ...........................Description....................... --}}

                        <div class="form-group row">
                            <label for="descriptions" class="col-md-4 col-form-label text-md-right">{{ __('Descritions') }}</label>

                            <div class="col-md-6">
                               <textarea name="descriptions"class="form-control{{ $errors->has('descriptions') ? ' is-invalid' : '' }}" value="" required>{{$property->descriptions}}</textarea>

 
                                @if ($errors->has('descriptions'))
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ $errors->first('descriptions') }}</strong>
                                    </span>
                                @endif
                            </div>
                        </div>

{{-- ..............................type.......................... --}}

            <div class="form-group row">
                            <label for="property_type" class="col-md-4 col-form-label text-md-right">Please select</label>

                            <div class="col-md-6">
                                <select name = "property_type" value="{{$property->property_type}}" required>   
                                <option value = "Rental">Rental</option>       
                                 <option value = "Homestay">Homestay</option> 
                              </select> 

                            </div>
                        </div>



{{-- ........................................................... --}}

                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    {{ __('Edit') }}
                                </button>
                            </div>
                        </div>

            


            </div>

</div>
</div>
</div>
</div>
</form>
            <form action="/property/{{$property->id}}" method="POST" accept-charset="utf-8">
                {{-- {{ @method_field('DELETE') }} --}}
                @method('DELETE')
            @csrf   
                .<button type="submit" class="button">Delete</button>


            </form>




@endsection
---------------------------------------------------------------
----------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------------------------
----------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------------------------
----------------------------------------------------
-------------------------------------------------------------------------

backup of create.blade



@extends('layouts.app')


@section('content')

@if(auth()->user()->isowner!=1)
    @if(auth()->user()->upgrade_req!=1)

        
        <div class="jumbotron">
        <h1>OOPS! Are you a Owner.</h1>
        <hr>
        {{-- <a href="/profile/">Upgrade your account</a> --}}
        <a  href="/profile/{{auth()->user()->id}}">Upgrade your account</a>            
        </div>

        @else
        <h1 class="jumbotron">please wait for confirmaton</h1>
        @endif
@else
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="p-2">
                    <h1>Post AD</h1>
                    <hr>
                    <form form method="POST" action="{{ route('property.store') }}">
                        @csrf
                        <div class="row"> 
                            
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group mb-1">
                                    <label for="property_type">Property Type</label>
                        
                                    <select autofocus class="form-control" name = "property_type" required>   
                                        <option selected value = "">........Choose the type of property for Ad........</option>       
                                        <option  value = "Rental">Rental</option>       
                                        <option class="form-control" value = "Homestay">Homestay</option> 
                                       
                                    </select> 
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group mb-1">
                                    <label for="price">{{ __('Price') }}</label>
                                    <input id="price" type="number" min="500" class="form-control{{ $errors->has('price') ? ' is-invalid' : '' }}" name="price" value="{{ old('price') }}" required autofocus>

                                    @if ($errors->has('price'))
                                        <span class="invalid-feedback" role="alert">
                                            <strong>{{ $errors->first('price') }}</strong>
                                        </span>
                                    @endif
                                </div>
                            </div>
                        </div>
                        
                        
                        <hr>
                        <h4>Address</h4>


                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group mb-1">
                                    <label for="district">{{ __('District') }}</label>
                                    {{-- <input id="district" type="text" class="form-control{{ $errors->has('district') ? ' is-invalid' : '' }}" name="" value="{{ old('district') }}" required autofocus> --}}
                                        
                                    <select autofocus class="form-control{{ $errors->has('district') ? ' is-invalid' : '' }}" name = "district" required>   
                                        <option selected value = ""{{ old('district') }}/option>       
                                        <option value = "Taplejung">Taplejung</option>       
                                        <option value = "Panchthar">Panchthar</option>       
                                        <option value = "Ilam">Ilam</option>       
                                        <option value = "Jhapa">Jhapa</option>       
                                        <option value = "Morang">Morang</option>       
                                        <option value = "Sunsari">Sunsari</option>       
                                        <option value = "Dhankutta">Dhankutta</option>       
                                        <option value = "Sankhuwasabha">Sankhuwasabha</option>       
                                        <option value = "Bhojpur">Bhojpur</option>       
                                        <option value = "Terhathum">Terhathum</option>       
                                        <option value = "Okhaldunga">Okhaldunga</option>       
                                        <option value = "Khotang">Khotang</option>       
                                        <option value = "Solukhumbu">Solukhumbu</option>       
                                        <option value = "Udaypur">Udaypur</option>       
                                        <option value = "Saptari">Saptari</option>       
                                        <option value = "Siraha">Siraha</option>       
                                        <option value = "Dhanusa">Dhanusa</option>       
                                        <option value = "Mahottari">Mahottari</option>       
                                        <option value = "Sarlahi">Sarlahi</option>       
                                        <option value = "Sindhuli">Sindhuli</option>       
                                        <option value = "Ramechhap">Ramechhap</option>       
                                        <option value = "Dolkha">Dolkha</option>       
                                        <option value = "Sindhupalchauk">Sindhupalchauk</option>       
                                        <option value = "Kavreplanchauk">Kavreplanchauk</option>       
                                        <option value = "Lalitpur">Lalitpur</option>       
                                        <option value = "Bhaktapur">Bhaktapur</option>       
                                        <option value = "Kathmandu">Kathmandu</option>       
                                        <option value = "Nuwakot">Nuwakot</option>       
                                        <option value = "Rasuwa">Rasuwa</option>       
                                        <option value = "Dhading">Dhading</option>       
                                        <option value = "Makwanpur">Makwanpur</option>       
                                        <option value = "Rauthat">Rauthat</option>       
                                        <option value = "Bara">Bara</option>       
                                        <option value = "Parsa">Parsa</option>       
                                        <option value = "Chitwan">Chitwan</option>       
                                        <option value = "Gorkha">Gorkha</option>       
                                        <option value = "Lamjung">Lamjung</option>       
                                        <option value = "Tanahun">Tanahun</option>       
                                        <option value = "Syangja">Syangja</option>       
                                        <option value = "Kaski">Kaski</option>       
                                        <option value = "Manag">Manag</option>       
                                        <option value = "Mustang">Mustang</option>       
                                        <option value = "Parwat">Parwat</option>       
                                        <option value = "Myagdi">Myagdi</option>       
                                        <option value = "Baglung">Baglung</option>       
                                        <option value = "Gulmi">Gulmi</option>       
                                        <option value = "Palpa">Palpa</option>       
                                        <option value = "Nawalpur">Nawalpur</option>       
                                        <option value = "Parasi">Parasi</option>       
                                        <option value = "Rupandehi">Rupandehi</option>       
                                        <option value = "Arghakhanchi">Arghakhanchi</option>       
                                        <option value = "Kapilvastu">Kapilvastu</option>       
                                        <option value = "Pyuthan">Pyuthan</option>       
                                        <option value = "Rolpa">Rolpa</option>       
                                        <option value = "Rukum_Purba">Rukum Purba</option>       
                                        <option value = "Rukum_Paschim">Rukum Paschim</option>       
                                        <option value = "Salyan">Salyan</option>       
                                        <option value = "Dang">Dang</option>       
                                        <option value = "Bardiya">Bardiya</option>       
                                        <option value = "Surkhet">Surkhet</option>       
                                        <option value = "Dailekh">Dailekh</option>       
                                        <option value = "Banke">Banke</option>       
                                        <option value = "Jajarkot">Jajarkot</option>       
                                        <option value = "Dolpa">Dolpa</option>       
                                        <option value = "Humla">Humla</option>       
                                        <option value = "Kalikot">Kalikot</option>       
                                        <option value = "Mugu">Mugu</option>       
                                        <option value = "Jumla">Jumla</option>       
                                        <option value = "Bajura">Bajura</option>       
                                        <option value = "Bajhang">Bajhang</option>       
                                        <option value = "Achham">Achham</option>       
                                        <option value = "Doti">Doti</option>       
                                        <option value = "Kailali">Kailali</option>       
                                        <option value = "Kanchanpur">Kanchanpur</option>       
                                        <option value = "Dadeldhura">Dadeldhura</option>       
                                        <option value = "Baitadi">Baitadi</option>       
                                        <option value = "Darchula">Darchula</option>       
                                        
                                       
                                    </select> 
                                    @if ($errors->has('district'))
                                        <span class="invalid-feedback" role="alert">
                                            <strong>{{ $errors->first('district') }}</strong>
                                        </span>
                                    @endif
                                </div>
                            </div>
                           
                            
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group mb-1">
                                    <label for="province_no">{{ __('Province') }}</label>
                                    <input id="province_no" type="number" class="form-control{{ $errors->has('province_no') ? ' is-invalid' : '' }}" name="province_no" value="{{ old('province_no') }}" required autofocus>

                                    @if ($errors->has('province_no'))
                                        <span class="invalid-feedback" role="alert">
                                            <strong>{{ $errors->first('province_no') }}</strong>
                                        </span>
                                    @endif
                           
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group mb-1">
                                    <label for="city">{{ __('City') }}</label>
                                    <input id="city" type="type" class="form-control{{ $errors->has('city') ? ' is-invalid' : '' }}" name="city" value="{{ old('city') }}" required autofocus>

                                    @if ($errors->has('city'))
                                        <span class="invalid-feedback" role="alert">
                                            <strong>{{ $errors->first('city') }}</strong>
                                        </span>
                                    @endif
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group mb-1">
                                    <label for="ward_no">{{ __('ward') }}</label>

                          
                                <input id="ward_no" type="number" min="1" class="form-control{{ $errors->has('ward_no') ? ' is-invalid' : '' }}" name="ward_no" value="{{ old('ward_no') }}" required autofocus>

                                @if ($errors->has('ward_no'))
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ $errors->first('ward_no') }}</strong>
                                    </span>
                                @endif
                                </div>
                            </div>
                        
                        <div class="col-md-6 col-sm-6">
                                <div class="form-group mb-1">
                                     
                                     <label for="street_address">{{ __('Street') }}</label>

                           
                                <input id="street_address" type="text" class="form-control{{ $errors->has('street_address') ? ' is-invalid' : '' }}" name="street_address" value="{{ old('street_address') }}" required autofocus>

                                @if ($errors->has('street_address'))
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ $errors->first('street_address') }}</strong>
                                    </span>
                                @endif
                                </div>
                            </div>
                        </div>
                        

                        <hr>
                        <h4>for rentals</h4>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">rental type</div>
                            <div class="col-md-6 col-sm-6">water service</div>
                            <div class="col-md-6 col-sm-6">no of rooms</div>
                            <div class="col-md-6 col-sm-6">BHK</div>
                            <div class="col-md-6 col-sm-6">no floors</div>
                            
                        </div>
                        
                        
                        <hr>
                        <h4>for pg</h4>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">type</div>
                            <div class="col-md-6 col-sm-6">no of guests</div>
                            <div class="col-md-6 col-sm-6">detours</div>
                        </div>

                        
                        <hr>
                        <h4>extra descriptions</h4>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group mb-1">
                                    <label for="descriptions">{{ __('Property Descriptions') }}</label>
                                    <textarea name="descriptions"class="form-control{{ $errors->has('descriptions') ? ' is-invalid' : '' }}" value="{{ old('descriptions') }}" required></textarea>
                                
                                    @if ($errors->has('descriptions'))
                                        <span class="invalid-feedback" role="alert">
                                         <strong>{{ $errors->first('descriptions') }}</strong>
                                         </span>
                                    @endif
                                </div>
                            </div>
                        </div>
                    

                        <div class="mt-1">
                            <button type="submit" class="btn btn-primary">{{ __('Request') }}</button>
                        </div>
                       


                    </form>
                    
                </div>                
            </div>
            <div class="col-md-4 col-sm-4">
                <aside>
                    <div class="premiums" >
                        <p>this is reserved for featured properties</p>
                    </div>
                </aside>
            </div>
        </div><!--close main row -->
    </div><!--close main container -->
</section>
@endif

     

@endsection
